

body {
    background: lightgray;
    font-family: 'Noto Sans', sans-serif;
}


input {
    font-family: 'Noto Sans', sans-serif;
    width: 250px;
    height: 22px;
    border-radius: 6px;
}


ul {
    list-style-type: none;
    padding-inline-start: 0px;
}


button {
    font-family: 'Noto Sans', sans-serif;
    width: 60px;
    height: 28px;
    border-radius: 6px;
    cursor: pointer;
}

#error {
    margin-left: auto;
    margin-right: auto;
    display: none;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: red;
    background-color: lightcoral;
    margin-bottom: 10px;
    margin-top: 40px;
}

#errortext {
    display: none;
    text-align: center;
}

.refresh {
    align-items: center;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    cursor: pointer;
}


.center {
    text-align: center;
    margin-top: 50px;


}


.center1 {
    text-align: center;
    font-size: 20px;
    /* text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 20vh; */
    list-style-type: none;

}

#bildes {
    text-align: center;
    font-size: 20px;
    line-height: 4.0;
    text-align: right;
    margin: 0;

}

#bilde {
    height: 84px;
}
.center2 {
    margin: 0px;
    text-align: left;
    font-size: 20px;
    line-height: 4.0;
    width: 50%;
    margin-right: 120px;
}

#hide2 {
    display: flex;
}

#hide3 {
    display: none;
    width: 50%;
    margin-right: 10px;
}

#bilde1 {
    width: 50px;
    height: 50px;

}
#virsraksts1 {
    text-align: center;

}


#virsraksts3 {
    text-align: center;

}



.kopa {
    /* background-color: gray;
    box-shadow: "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    width: 45%;
    height: 100vh;
    align-items: center;
    border-radius: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.augsa {
    width: 100%;
}


.apaksa {
    width: 100%;
}

